<%- include("./partials/header.ejs")  %>
    <div class="w-full min-h-screen 
        bg-zinc-900
        text-white
        py-5
        flex
        flex-col
        items-center
        justify-center
        ">
        <div class="flex flex-col items-center gap-5 px-4">
            <img class="w-1/2" src="/images/logo.png">
            <form method="post" class="w-fulll" action="/login">
                <input class="px-3 mt-2 py-2 border-2 border-zinc-800
                rounded-md
                block
                bg-zinc-900
                "
                name="username"
                placeholder="username"
                value="dg123"
                >
                <input class="px-3 mt-2 py-2 border-2 border-zinc-800
                                rounded-md
                                block
                                bg-zinc-900
                                " name="password"
                                type="password"
                                placeholder="password"
                                value="dg123"
                                >

                <input class="w-full bg-blue-500 px-3 py-3 rounded-md mt-2"
                type="submit"
                value="login"
                >

            </form>
                <span>Dont have an account? <a href="/" class="text-blue-500">Sign up</a></span>
        </div>
    </div>
<%- include("./partials/footer.ejs") %>