<%- include("./partials/header") %>
    <div class="w-full min-h-screen bg-zinc-900 text-white py-5">
        <div class="flex justify-between items-center px-4">
            <a class="text-sm text-blue-500" href="/profile/<%=currUser.username%>">
                <i class="ri-arrow-left-s-line"></i>
                my profile
            </a>
            <h2 class="leading-none text-sm">Messages</h2>
            <h2></h2>
        </div>
    </div>
    <%- include("./partials/footer") %>